<div class="wrapper">
  <h1>To Do List</h1>

  <div class="submit_form">
    <%= form_tag(root_path, method: :post) do %> 
      <input type="text" name="content" class="submit_form__content"> 
      <input type="submit" value="投稿する" class="submit_form__submit">
    <% end %>
  </div>

  <% @posts.each do |post| %>
    <ul class="post_data">
      <li class="post_data__date">
        ● 投稿日：<%= post.created_at %>
      </li>
      <li class="post_data__content">
        <%= post.content %>
      </li>
    </ul>
  <% end %>
</div>